
<app-contain title="Message">
    <p>
        Salut!

Comment te portes-tu en ce jour? <br>
Quand à moi je suis bien par la grâce divine !

C’est avec le cœur plein de grande joie et de meilleur plaisir que je me met à table pour t’adresser ce ci long message plein de sens très difficile à analyser et à comprendre!
Je te conseille de prendre un temps considérable dans le but de pouvoir l’analyser et comprendre.

Dans la vie chaque chose a son temps,Il est très important de faire chaque chose au moment qu’il faut le faire.
Peut-être c’est pas le bon moment pour toi de l'entendre,mais que faire . <br> TOUT A UN DÉBUT !Rien ne peut exister sans être débuter ,la vie elle même a un début sinon on n’existerait pas !

Il ya longtemps que je t’ai connu,je dirai plus d'un an ,j’ai eu une très ci-longue période pour te connaitre. <br> Etudier quelqu’un (e) a pour but de connaître la personne en tant que personne.
L’etude mené te concernant a débuté le jour où mon cœur m’avait dit de faire ce que je suis entrain de faire dans ce note .Mais quoi exactement  ???
Ne sois pas pressé tu la découvras très bientôt aux prochaines lignes de ce message. <br>
Et il te plaît calmes toi ,je l’ai pas fait pour te mettre dans un état critique!

Très longtemps ou récemment et voire pour toujours,j’ai eu une pensée complètement tournée vers toi ,non seulement en tant qu’amie,camarade de classe, <br>
 mais aussi en tant qu’une personne chère pour moi avec qui je serai qui je devrai être.C’est à dire avec qui je désire être pour toujours ....Je voudrais savoir ce que tu ressens.

Il ya longtemps que j’ai lutté contre mes sentiments mais enfin j’ai décidé d’en parler. <br>

Dihia,je dois te dire et te redit que tu rabonnis mes pensées, <br>
Je ne peux jamais terminer à dire ce que mon cœur ressens pour toi! <br>

Et peu importe ce que tu ressens,réciproquement,moi j’estime et aimerais bien entretenir une relation sérieuse avec toi, même si on y vit dejà . Je dois t'en parler sincerement. <br>
Moi, je sais pas si c’est le moment idéal pour toi d’y entendre ou pas  cette déclaration. <br>
 Ce qui est sûr mes pensées et mes rêves ne m’ont jamais trompé,et je suis aussi très sûr de ma décision.
Moi je n’ai jamais eu le courage de parler ainsi à une fille .J’ai toujours consacré mon temps aux études grâce à ma Maman qui me disait toujours: <br> 

<span style="font-weight: bold;font-size: 30px;color: white;background: black;">
    **ne sois pas pressé car un jour viendra,ton cœur te dira de suivre celle qu’il désire ,et ce jour il sera très important pour toi d’écouter ton cœur . <br> 
    Et n’oublie jamais qu’un homme n’est rien s’il ne se bat pas pour son amour et pour ce qu’il aime.** <br>
</span>
C’est ce jour qui est arrivé j’en pense! <br>
En ce jour ci ,mon âme appartient à mon cœur,donc tous mes pensées aussi,et franchement parlé <br> 
et par pure réalité tu es dans mes pensées,implique alors dans mon cœur nuit et jour. <br>
Et cela a débuté depuis le jour que je t’ai connu en tant qu’une personnalité de bon cœur et de Bonne moralité. <br>
 j’ai pris du temps,pour aucunes causes mais juste j’avais besoin de l’attention de mon cœur , <br>
 et voilà je l’ai eu enfin mais des larmes de tristesse,car je ne peut en aucun deviner à ce que tu me diras de la part de ton cœur. <br>
  Et je te supplie de l’écouter.
    </p>

<p>

Je ne sais pas par quelle langue il faut dire cette fameuse phrase que j’ai avalé depuis plus de plusieurs mois! <br>
Tu dois pouvoir la comprendre après avoir bien lu tout ça ! <br>
Je suis sûr et certain que tu te demanderas que je suis un ami à toi,oui j’en suis sûr que je le suis et je suis fier de l’être et je l’en serai pour toujours. <br>
Et je n'ai jamais regrété même une fois de l'être! <br>
Chez moi tout commence par amitié,j’ai connu beaucoup d’amis ici en Algérie,plus précisément Bejaïa, <br>
 mais ceux comme toi sont  très rares ,je peux même dire n’existent pas parmi eux. <br>
 S’il te plaît ,saches que je ne suis pas entrain de te dire ce que les garçons ou hommes d’aujourd’hui font quand ils s’intéressent à une fille ou femme.
Personnellement j’ai voulu attendre la fin de l’année pour ne pas te perturber de réflexion inapte aux semestres.
Quand on me demandera un jour,Qu’as tu appris en Algérie,?Je répondrai :
Au cours de mon séjour en Algérie,j’ai appris les raisons pour lesquelles j’y étais ,en plus j’ai rencontré à mon avis la fille que je devrais connaître,que j’ai aimé,que j’aime,et que je continuerai à aimer jusqu’à ma dernière soupire sur terre.La vie est faite ainsi,aimer c’est pas grave mais aimer celle qui n’est pas à aimer est le plus dangereux pour mon cœur.
Tu es à aimer donc aucun danger pour mon cœur.J’avais pleine de difficultés à te le dire.Mais peut-être que tu le savais.
Le temps que j’ai passé à tes côtés,j’ai su énormes changements positifs à mon égard,un temps ci court,alors être avec toi indéfiniment ne me fera que du meilleur dans ma vie.
Tu es ci humble,et tout ce que je veux chez une fille.
Prends ton temps de me répondre ,même s’il faut attendre un an,deux ans,trois ans ou plus en réfléchissant sur mes propos.

La valeur d’une femme ne se résume pas à sa beauté mais plutôt à sa personnalité,tu es celle que je pense , une fille de grande personnalité.C’est pas des flatteries plutôt la réalité.Peut être ta première fois d’entendre ça,n’oublies pas que peut-être c’est le moment d’en entendre !
Je l'ai fait ce soir ou ce matin,pour qu'un jour tu saches que je t'ai toujours aimé et je t'aime toujours..........
<br><br><br>
      
    Voilà je pense qu'aujourd'hui je suis de plus à l'aise now,ca fait très longtemps que je l'ai dans mon coeur. <br>
    Si je t'ai offencé sache que ce n'etait pas de mes intentions,je voulais juste que tu decouvre à quel point tu es valeureuse pour mon coeur... <br>
    Personne n'est parfaite,s'ils sont blessants alors mes excuses sont au près de toi jusqu’à ce que tu te calmes... <br><br><br>
    
LA PAROLE N’EST QUE LA PAROLE MAIS LA PUISSANCE RESIDE DANS L’ACTION!   <br><br><br> 


Mes salutations les plus graduées. <br>
Bonne soirée et fais de beaux rêves.!!!

</p>

</app-contain>